.displayFlex(@justify, @align, @direction: row) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}

.borderStyle() {
    border-bottom: 2px dashed lightgrey;
}

.button() {
    background-color: teal;
    font-size: 1.8rem;
    border-radius: 5px;
    width: 80%;
    padding: 3% 0;
    color: white;
    text-align: center;
}